.header a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
    background-color: rgb(209, 188, 188);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

}
.header{
    margin-top: 20px;
    text-align: right;
    margin-right: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.side_logo{
    margin-left: 20px;
}@media only screen and (max-width: 780px) {
    .header{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .header a{
        margin-top: 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }

  }